body {
  margin: 0px;
  min-height: 100vh;
}

/* The Navigation Bar Customization */
.navbar {
    position:fixed;
    top: 0;
    z-index:1;
    display:flex;
    width:100%;
    height:40px;
    opacity: 1.0;

    right:32px;
    top:90%;
    transform: translateY(-10%);
}

.navbar ul {
    display: flex;
    list-style:none;
    width: 100%;
    justify-content:center;
}

.navbar ul li{
    margin: 0 0.8rem;
    padding:1rem;
}

.navbar a {
    /* The Dots */
    display: block;
    border-radius: 45%;
    border: 1px transperant;
    width: 8px;
    height: 8px;

    /* Spacing */
    margin: 20px 0;

    text-indent: -999px;
    overflow: hidden;
    position: relative;
  }

.navbar a::after {
    content:"";

    /* The Black Dot Fill */
    background-color: #4f4f4f;

    position: absolute;
    bottom: 0;
    height: 0;
    left: 0;
    right: 0;
    width: 100%;

    transition: height 0.3s ease;
  }

.navbar a:hover::after,
.navbar a.active::after {
  height: 100%;
}

/* End of the Navigation Bar Customization */

/* The Sound Icon */
.loader{
  height: 100px;
  width: 35%;
  padding: 1em;
  line-height: 330px;
  position: relative;
  right: 5px;
}


/* The Caption Text */
p {
  font-weight: bold;
  font-style: italic;
  line-height: 310px;
  position: relative;
  right: 3px;
}

/* The Slideshow Slider Customization */

.slideshow-slider {
  height: 100vh;
  width: 100%;
  overflow: hidden;

  overflow-y:scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  postion: relative;
}

/* The Background Image Customization */
.slide {
  background-size: cover;
  position: relative;
  height: 100vh;
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;

}

/* The Center Image Customization */
.mini-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 150px;
  height: 150px;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  display: flex;
  margin: auto;
}

.slides {
  display: flex;
  overflow-x: auto;
 -webkit-overflow-scrolling: touch;
  position: relative;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  height: 100vh;
  width: 100%;

  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.slide > div:target {
  transform: scale(0.8);
}


.mini-slide > div:target {
  transform: scale(0.8);
}

.slideshow-slider > a:active {
  top: 1px;
}

.slideshow-slider > a:focus {
  background: #000;
}

@supports (scroll-snap-type) {
  .slideshow-slider > a {
    display: none;
  }
}

.ui-slider-range-min {
  height: 5px;
  width: 300px;
  position: absolute;
  background: #2ecc71;
  border: none;
  border-radius: 10px;
  outline: none;
}

.ui-slider-handle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  position: absolute;
  margin-left: -8px;
  margin-top: -3px;
  cursor: pointer;
  outline: none;
}

.ui-widget.ui-widget-content {
    border: none;
}

.ui-slider .ui-slider-handle {
    width: 0.9em;
    height: 0.9em;
  }

  .ui-slider-horizontal .ui-slider-handle {
      top: 0em;
}


/* End of the Slideshow Slider Customization */

/* The Center Image Links */
#nature-img {
  background-image: url('https://i.pinimg.com/originals/92/2b/f1/922bf1ac2c80f8c2164c754f10e3c01d.gif');
}

#park-img {
    background-image: url('/mini img/park1.gif');
}

#cafe-img {
    background-image: url('https://c.tenor.com/lC0kjOv7jMYAAAAC/anime-coffee.gif');
}

#library-img {
    background-image: url('https://64.media.tumblr.com/924005b81bc6892626105ad44253a3d9/tumblr_ouxyvtWzwR1wyppevo1_1280.gifv');
}

#home-img {
    background-image: url('https://64.media.tumblr.com/45dd28f7c73f6a5234f0fe5b489f5af4/7f0ee53c41d5b2b8-7c/s640x960/f8ba0117a7dc5d88d04933fc678340919250cb09.gifv');
}

#bus-img {
    background-image: url('/mini img/bus1.gif');
}


/* The Background Image Links */
#nature-gif {
    background-image: url('/background gifs/nature.gif');
}

#park-gif {
    background-image: url('/background gifs/park.gif');
}

#cafe-gif {
    background-image: url('/background gifs/cafe.gif');
}

#library-gif {
    background-image: url('/background gifs/library.gif');
}

#home-gif {
    background-image: url('/background gifs/home.gif');
}

#bus-gif {
    background-image: url('/background gifs/bus.gif');
}

/* The Icons */
.icon-style, .icon-style1, .icon-style2,
.icon-style3, .icon-style4, .icon-style5 {
  font-size: 40px;
  height: 40px;
  position: absolute;
}

.icon-style {
  margin-left: -410px;
  margin-top: -25px;
}

.icon-style1 {
  margin-left: -410px;
  margin-top: 30px;
}

.icon-style2 {
  margin-left: -410px;
  margin-top: 85px;
}
.icon-style3 {
  margin-left: -410px;
  margin-top: 140px;
}

.icon-style4 {
  margin-left: -410px;
  margin-top: 195px;
}

.icon-style5 {
  margin-left: -410px;
  margin-top: 250px;
}

/* The Volume Sliders */
#player {
  /* moves all the sliders left and right */
  width: 0px;
  height: 50px;
  position: relative;
  margin: 0 auto;
  top: 10px;
  left: 300px;
}

#volume {
  position: absolute;
  left: -430px;
  margin: 0 auto;
  height: 1.5px;
  /* length of the slider */
  width: 80px;
  background: #555;
  border-radius: 15px;
  top: 40px;
}

#volume1 {
  position: absolute;
  left: -430px;
  margin: 0 auto;
  height: 1.5px;
  width: 80px;
  background: #555;
  border-radius: 15px;
  top: 115px;
}

#volume2 {
  position: absolute;
  left: -430px;
  margin: 0 auto;
  height: 1.5px;
  width: 80px;
  background: #555;
  border-radius: 15px;
  top: 190px;
}

#volume3 {
  position: absolute;
  left: -430px;
  margin: 0 auto;
  height: 1.5px;
  width: 80px;
  background: #555;
  border-radius: 15px;
  top: 265px;
}

#volume4 {
  position: absolute;
  left: -430px;
  margin: 0 auto;
  height: 1.5px;
  width: 80px;
  background: #555;
  border-radius: 15px;
  top: 340px;
}

#volume5 {
  position: absolute;
  left: -430px;
  margin: 0 auto;
  height: 1.5px;
  width: 80px;
  background: #555;
  border-radius: 15px;
  top: 415px;
}

/* End of the Volume Sliders */

/* The Left Menu */

#menuToggle
{
  display: block;
  position: relative;
  top: 25px;
  left: 25px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: LightGray;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: relative;
  width: 300px;
  height: 400px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  padding-right: 1px;

  background: transparent;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

/* End of The Left Menu */

/* The Right Menu */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

.navbar-right {
  float: right;
}
li {
  display: inline;
  padding-right: -20px;
}
a {
  /* color of the icon */
  color: LightGray;
}

#list {
  position: relative;
  top: 5px;
  /* moves icon left and right*/
  left: 1050px;
}

.container {
  /* moves the everything left to right */
  width: 60%;
}

.notepad {
  /* brings the box up and down */
  margin: 70px 0;
  float: right;
  background: #f1f1f1;
  /* changes the width of the box */
  width: 400px;
  position: relative;
  border-radius: 3px;
  /* changes the height of the box */
  padding: 20px;
  left: 190px;
}

.notepad:after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

/* End of the Right Menu */

/* The Task List */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

.wrap {
  /* width of the both boxes */
  width: 350px;
  margin: 0 auto;
  font: normal 14px "Open Sans", Arial, sans-serif;
  color: #999;
}

.task-list {
  /* width of task list box */
  width: 98%;
  min-height: 300px;
  background: #fff;
  box-shadow: 2px 2px 0px #ddd;
  /* distance btwn task bar and list */
  margin-top: -40px;
  padding: 22px 6%;
  position: relative;
  left: 5px;
}

.task-list li {
  /* size of words */
  font-size: 1.2em;
  padding: 8px 0;
  overflow: hidden;
}

.task-list li span {
  width: 86%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}

.task-list li .delete-button {
  position: relative;
  top: -6px;
  height: auto;
  padding-top: 7px;
  float: right;
  vertical-align: top;
  opacity: 0.5;
  font-size: 12px;
  cursor: pointer;
  background: none;
  border: none;
}

.task-list li .delete-button:hover {
  opacity: 0.85;
}

.add-new-task {
  /* brings both boxes up and down */
  margin-top: 5px;
  padding-bottom: 60px;
  position: relative;
  /* moves add task box left and right */
  left: 5px;
  width: 345px;
}

.add-new-task input[type="text"] {
  width: 100%;
  font: normal 1.2em "Open Sans", Arial, sans-serif;
  color: #999;
  box-shadow: 2px 2px 0px #ddd;
  border: none;
  border-radius: none;
  display: block;
  padding: 12px 6%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* End of the Task List */
