body {
  margin: 0px;
  min-height: 100vh;
}

/* The Sound Icon */
.loader {
  height: 100px;
  width: 35%;
  padding: 1em;
  line-height: 330px;
  position: relative;
  right: 4px;
}


/* The Caption Text */
p {
  font-weight: bold;
  font-style: italic;
  line-height: 310px;
  position: relative;
}

/* The Slideshow Slider Customization */

.slideshow-slider {
  height: 100vh;
  width: 100%;
  overflow: hidden;

  overflow-y:scroll;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  position: relative;
}

/* The Background Image Customization */
.slide {
  scroll-snap-align: start;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100vw;
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;

}

/* The Center Image Customization */
.mini-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 150px;
  height: 150px;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  display: flex;
  margin: auto;
}


/* End of the Slideshow Slider Customization */

/* The Center Image Links */
#nature-img {
  background-image: url('https://i.pinimg.com/originals/92/2b/f1/922bf1ac2c80f8c2164c754f10e3c01d.gif');
}

#park-img {
    background-image: url('/mini img/park1.gif');
}

#cafe-img {
    background-image: url('https://c.tenor.com/lC0kjOv7jMYAAAAC/anime-coffee.gif');
}

#library-img {
    background-image: url('https://64.media.tumblr.com/924005b81bc6892626105ad44253a3d9/tumblr_ouxyvtWzwR1wyppevo1_1280.gifv');
}

#home-img {
    background-image: url('https://64.media.tumblr.com/45dd28f7c73f6a5234f0fe5b489f5af4/7f0ee53c41d5b2b8-7c/s640x960/f8ba0117a7dc5d88d04933fc678340919250cb09.gifv');
}

#bus-img {
    background-image: url('/mini img/bus1.gif');
}


/* The Background Image Links */
#nature-gif {
    background-image: url('/background gifs/nature.gif');
}

#park-gif {
    background-image: url('/background gifs/park.gif');
}

#cafe-gif {
    background-image: url('/background gifs/cafe.gif');
}

#library-gif {
    background-image: url('/background gifs/library.gif');
}

#home-gif {
    background-image: url('/background gifs/home.gif');
}

#bus-gif {
    background-image: url('/background gifs/bus.gif');
}

/* The Icons */
.icons {
  font-size: 40px;
  height: 40px;
  position: absolute;
}

#icon-style {
  margin-left: 30px;
  margin-top: 5px;
}

#icon-style1 {
  margin-left: 30px;
  margin-top: 90px;
}

#icon-style2 {
  margin-left: 34px;
  margin-top: 175px;
}

#icon-style3 {
  margin-left: 32px;
  margin-top: 260px;
}

#icon-style4 {
  margin-left: 30px;
  margin-top: 345px;
}

#icon-style5 {
  margin-left: 33px;
  margin-top: 430px;
}

#icon-style6 {
  margin-left: 26px;
  margin-top: 90px;
}

#icon-style7 {
  margin-left: 26px;
  margin-top: 175px;
}

#icon-style8 {
  margin-left: 33px;
  margin-top: 90px;
}

#icon-style9 {
  margin-left: 37px;
  margin-top: 260px;
}

#icon-style10 {
  margin-left: 41px;
  margin-top: 345px;
}

#icon-style11 {
  margin-left: 38px;
  margin-top: 430px;
}

#icon-style12 {
  margin-left: 35px;
  margin-top: 260px;
}

#icon-style13 {
  margin-left: 35px;
  margin-top: 345px;
}

#icon-style14 {
  margin-left: 32px;
  margin-top: 5px;
}

#icon-style15 {
  margin-left: 37px;
  margin-top: 260px;
}

#icon-style16 {
  margin-left: 32px;
  margin-top: 5px;
}

#icon-style17 {
  margin-left: 32px;
  margin-top: 430px;
}

#icon-style18 {
  margin-left: 39px;
  margin-top: 90px;
}

#icon-style19 {
  margin-left: 38px;
  margin-top: 260px;
}

#icon-style20 {
  margin-left: 42px;
  margin-top: 345px;
}

#icon-style21 {
  margin-left: 34px;
  margin-top: 430px;
}
/* The Volume Sliders */
#player {
  /* moves all the sliders left and right */
  width: 0px;
  height: 50px;
  position: relative;
  margin: 0 auto;
  top: -5px;
  left: 285px;
}

#volume, #volume6, #volume10,
#volume16, #volume22, #volume26 {
  position: absolute;
  left: -315px;
  margin: 0 auto;
  height: 1.5px;
  /* length of the slider */
  width: 80px;
  background: #555;
  border-radius: 15px;
  top: -10px;
  margin-top: 200px;
  margin-left: 400px;
}

#volume1, #volume7, #volume11,
#volume17, #volume23, #volume27 {
  position: absolute;
  left: -315px;
  margin: 0 auto;
  height: 1.5px;
  width: 80px;
  background: #555;
  border-radius: 15px;
  top: 75px;
  margin-top: 200px;
  margin-left: 400px;
}

#volume2, #volume8, #volume12,
#volume18, #volume24, #volume28 {
  position: absolute;
  left: -315px;
  margin: 0 auto;
  height: 1.5px;
  width: 80px;
  background: #555;
  border-radius: 15px;
  top: 160px;
  margin-top: 200px;
  margin-left: 400px;
}

#volume3, #volume9, #volume13,
#volume19, #volume25, #volume29 {
  position: absolute;
  left: -315px;
  margin: 0 auto;
  height: 1.5px;
  width: 80px;
  background: #555;
  border-radius: 15px;
  top: 245px;
  margin-top: 200px;
  margin-left: 400px;
}

#volume4, #volume14, #volume20,
#volume30 {
  position: absolute;
  left: -315px;
  margin: 0 auto;
  height: 1.5px;
  width: 80px;
  background: #555;
  border-radius: 15px;
  top: 330px;
  margin-top: 200px;
  margin-left: 400px;
}

#volume5, #volume15, #volume21,
#volume31 {
  position: absolute;
  left: -315px;
  margin: 0 auto;
  height: 1.5px;
  width: 80px;
  background: #555;
  border-radius: 15px;
  top: 415px;
  margin-top: 200px;
  margin-left: 400px;
}

/* End of the Volume Sliders */

/* The Play Buttons */
*,
*:before,
*:after {
  box-sizing: border-box;
}

.play-btn {
  /* Positioning */
  position: absolute;
  margin-left: -2px;
  margin-top: -10px;
  /* Sizing */
  width: 20px;
  height: 20px;
  /* Border styling */
  border-style: solid;
  border-color: transparent HoneyDew transparent HoneyDew;
  border-width: 10px 0 10px 20px;
  bottom: 200px;
}

.play-btn.stop, .play-btn.to-play {
  /* Animate morphing */
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1), border-top-width 300ms cubic-bezier(0, 0, 0.2, 1), border-bottom-width 300ms cubic-bezier(0, 0, 0.2, 1);
}

.play-btn.stop {
  /* Morph to a stop button */
  transform: rotate(90deg);
  border-width: 0 0 0 20px;
}

.play-btn.to-play {
  /* Morph back from a stop button to a play button */
  transform: rotate(180deg);
  border-width: 10px 20px 10px 0;
}

#btn1, #btn7, #btn11,
#btn17, #btn23, #btn27 {
  bottom: 115px;
}

#btn2, #btn8, #btn12,
#btn18, #btn24, #btn28 {
  bottom: 30px;
}

#btn3, #btn9, #btn13,
#btn19, #btn25, #btn29 {
  bottom: -55px;
}

#btn4, #btn14, #btn20,
#btn30 {
  bottom: -140px;
}

#btn5, #btn15, #btn21,
#btn31 {
  bottom: -225px;
}

/* End of the Play Buttons */

/* The Left Menu */
#menuToggle {
  display: block;
  position: relative;
  top: 25px;
  left: 25px;
  z-index: 1;
  user-select: none;
  width: 373px;
}

#menuToggle input {
  display: block;
  position: absolute;
  cursor: pointer;
  z-index: 2;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: LightGray;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: LightGray;
}


#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: relative;
  height: 400px;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  padding-right: 1px;

  background: transparent;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}


#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

#fixing {
  width: 253px;
  -webkit-transform:translate3d(0,0,0);
}

#fix {
  opacity: 0;
  height: 20px;
  width: 30px;
}

/* Opacity */
#visible {
  opacity: 100;
}

/* End of The Left Menu */

/* The Right Menu */
#navbar-right {
  position: relative;
  bottom: 320px;
  left: 1330px;
  -webkit-font-smoothing: antialiased;
}

li {
  display: inline;
}

a {
  /* color of the icon */
  color: LightGray;
}

#list, #list1, #list2,
#list3, #list4, #list5 {
  position: relative;
}

.notepad, .notepad1, .notepad2,
.notepad3, .notepad4, .notepad5 {
  /* brings the box up and down */
  margin: 70px 0;
  position: relative;
  bottom: 370px;
  left: 1120px;
  background: #f1f1f1;
  /* changes the width of the box */
  width: 300px;

  border-radius: 3px;
  /* changes the height of the box */
  padding: 20px;
  display:none;

}

.notepad:after, .notepad1:after, .notepad2:after,
.notepad3:after, .notepad4:after, .notepad5:after {
  bottom: 425px;
  left: 95%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: relative;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

/* End of the Right Menu */

/* The Task List */
.wrap {
  /* width of the both boxes */
  width: 280px;
  margin: 0 auto;
  font: normal 14px "Open Sans";
  color: #999;
}

.task-list, .task-list1, .task-list2,
.task-list3, .task-list4, .task-list5 {
  /* width of task list box */
  width: 265px;
  min-height: 310px;
  background: #fff;
  box-shadow: 2px 2px 0px #ddd;
  /* distance btwn task bar and list */
  margin-top: -40px;
  padding: 20px 6%;
  position: relative;
  left: -3px;
}

.task-list li, .task-list1 li, .task-list2 li,
.task-list3 li, .task-list4 li, .task-list5 li {
  /* size of words */
  font-size: 1.2em;
  padding: 8px 0;
  overflow: hidden;
}

.task-list li span, .task-list1 li span, .task-list2 li span,
.task-list3 li span, .task-list4 li span, .task-list5 li span {
  width: 86%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}

.task-list li .delete-button,
.task-list1 li .delete-button,
.task-list2 li .delete-button,
.task-list3 li .delete-button,
.task-list4 li .delete-button,
.task-list5 li .delete-button {
  position: relative;
  top: -6px;
  height: auto;
  padding-top: 7px;
  float: right;
  vertical-align: top;
  opacity: 0.5;
  font-size: 12px;
  cursor: pointer;
  background: none;
  border: none;
}

.task-list li .delete-button:hover,
.task-list1 li .delete-button:hover,
.task-list2 li .delete-button:hover,
.task-list3 li .delete-button:hover,
.task-list4 li .delete-button:hover,
.task-list5 li .delete-button:hover {
  opacity: 0.85;
}

.add-new-task, .add-new-task1, .add-new-task2,
.add-new-task3, .add-new-task4, .add-new-task5 {
  /* brings both boxes up and down */
  margin-top: 5px;
  padding-bottom: 60px;
  position: relative;
  /* moves add task box left and right */
  left: -3px;
  width: 265px;
}

.add-new-task input[type="text"],
.add-new-task1 input[type="text"],
.add-new-task2 input[type="text"],
.add-new-task3 input[type="text"],
.add-new-task4 input[type="text"],
.add-new-task5 input[type="text"] {
  width: 100%;
  font: normal 1.2em "Open Sans", Arial, sans-serif;
  color: #999;
  box-shadow: 2px 2px 0px #ddd;
  border: none;
  border-radius: none;
  display: block;
  padding: 12px 6%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* End of the Task List */
