/* Fixes the side margins */
body {
  margin: 0px
}

/* The Navigation Bar Customization */
.navbar {
    position:fixed;
    top: 0;
    z-index:1;
    display:flex;
    width:100%;
    height:40px;
    opacity: 1.0;

    right:32px;
    top:90%;
    transform: translateY(-10%);
}

.navbar ul {
    display: flex;
    list-style:none;
    width: 100%;
    justify-content:center;
}

.navbar ul li{
    margin: 0 0.8rem;
    padding:1rem;
}

.navbar a {
    /* The Dots */
    display: block;
    border-radius: 45%;
    border: 1px solid #2e2e2e;
    width: 8px;
    height: 8px;

    /* Spacing */
    margin: 20px 0;

    text-indent: -999px;
    overflow: hidden;
    position: relative;
  }

.navbar a::after {
    content:"";

    /* The Black Dot Fill */
    background-color: #4f4f4f;

    position: absolute;
    bottom: 0;
    height: 0;
    left: 0;
    right: 0;
    width: 100%;

    transition: height 0.3s ease;
  }

.navbar a:hover::after,
.navbar a.active::after {
  height: 100%;
}

/* End of the Navigation Bar Customization */

/* The Sound Icon */

.loader{
  height: 100px;
  width: 15%;
  text-align: left;
  padding: 1em;
  line-height: 330px;
}


/* The Caption Text */
p {

  font-weight: bold;
  font-style: italic;
  line-height: 310px;
  align-self: bottom;
}

/* The Slideshow Slider Customization */

.slideshow-slider {
  height: 100vh;
  width: 100%;
  overflow: hidden;

  overflow-y:scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  postion: relative;
}

/* The Background Image Customization */
.slide {
  background-size: cover;
  position: relative;
  height: 100vh;
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;

}

/* The Center Image Customization */
.mini-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 150px;
  height: 150px;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  display: flex;
  margin: auto;
}

.slides {
  display: flex;
  overflow-x: auto;
 -webkit-overflow-scrolling: touch;
  postion: relative;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  height: 100vh;
  width: 100%;

  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.slide > div:target {
  transform: scale(0.8);
}


.mini-slide > div:target {
  transform: scale(0.8);
}

.slideshow-slider > a:active {
  top: 1px;
}

.slideshow-slider > a:focus {
  background: #000;
}

@supports (scroll-snap-type) {
  .slideshow-slider > a {
    display: none;
  }
}

/* End of the Slideshow Slider Customization */

/* The Center Image Links */
#nature-img {
  background-image: url('https://i.pinimg.com/originals/92/2b/f1/922bf1ac2c80f8c2164c754f10e3c01d.gif');
}

#park-img {
    background-image: url('/mini img/park1.gif');
}

#cafe-img {
    background-image: url('https://c.tenor.com/lC0kjOv7jMYAAAAC/anime-coffee.gif');
}

#library-img {
    background-image: url('https://64.media.tumblr.com/924005b81bc6892626105ad44253a3d9/tumblr_ouxyvtWzwR1wyppevo1_1280.gifv');
}

#home-img {
    background-image: url('https://64.media.tumblr.com/45dd28f7c73f6a5234f0fe5b489f5af4/7f0ee53c41d5b2b8-7c/s640x960/f8ba0117a7dc5d88d04933fc678340919250cb09.gifv');
}

#bus-img {
    background-image: url('/mini img/bus1.gif');
}


/* The Background Image Links */
#nature-gif {
    background-image: url('/background gifs/nature.gif');
}

#park-gif {
    background-image: url('/background gifs/park.gif');
}

#cafe-gif {
    background-image: url('/background gifs/cafe.gif');
}

#library-gif {
    background-image: url('/background gifs/library.gif');
}

#home-gif {
    background-image: url('/background gifs/home.gif');
}

#bus-gif {
    background-image: url('/background gifs/bus.gif');
}

/* The Volume Sliders */
#player {
  width: 350px;
  height: 50px;
  position: relative;
  margin: 0 auto;
  top: 40px;
}

#volume {
  position: absolute;
  left: -500px;
  margin: 0 auto;
  height: 2px;
  width: 100px;
  background: #555;
  border-radius: 15px;
}

#volume1 {
  position: absolute;
  left: -360px;
  margin: 0 auto;
  height: 2px;
  width: 100px;
  background: #555;
  border-radius: 15px;
}

#volume2 {
  position: absolute;
  left: -220px;
  margin: 0 auto;
  height: 2px;
  width: 100px;
  background: #555;
  border-radius: 15px;
}

#volume3 {
  position: absolute;
  left: -80px;
  margin: 0 auto;
  height: 2px;
  width: 100px;
  background: #555;
  border-radius: 15px;
}

#volume4 {
  position: absolute;
  left: 60px;
  margin: 0 auto;
  height: 2px;
  width: 100px;
  background: #555;
  border-radius: 15px;
}

#volume5 {
  position: absolute;
  left: 200px;
  margin: 0 auto;
  height: 2px;
  width: 100px;
  background: #555;
  border-radius: 15px;
}

.ui-slider-range-min {
  height: 5px;
  width: 300px;
  position: absolute;
  background: #2ecc71;
  border: none;
  border-radius: 10px;
  outline: none;
}

.ui-slider-handle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  position: absolute;
  margin-left: -8px;
  margin-top: -4px;
  cursor: pointer;
  outline: none;
}

.ui-widget.ui-widget-content {
    border: none;
}

/* End of the Volume Slider */
